* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.subDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  background-color: white;
  width: 50%;
}
.timerDiv {
  text-align: center;
  justify-content: center;
  display: flex;
  height: 450px;
  background-color: black;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 490px) {
  .allButtons {
    display: block !important;
  }
}
