* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.subDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  background-color: white;
  width: 50%;
}
.timerDiv {
  text-align: center;
  justify-content: center;
  display: flex;
  height: 450px;
  background-color: black;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}@media (max-width: 1190px) {
  .subDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    background-color: white;
    width: 70%;
  }
}

@media (max-width: 600px) {
  .subDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    background-color: white;
    width: 70%;
  }
  .heading {
    font-size: 25px;

  }
}
@media (max-width: 490px) {
  .subDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    background-color: white;
    width: 80%;
  }
  .heading {
    font-size: 22px;
  }
  .allButtons {
    display: block !important;
  }
}
@media (max-width: 400px) {
  .heading {
    font-size: 20px;
  }
  .allButtons {
    display: block !important;
  }
}
